/* Tabla general */
table.mat-elevation-z8 {
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

/* Cabecera */
::ng-deep th.mat-mdc-header-cell {
  background-color: #111 !important;
  font-weight: 600;
  text-align: left;
  padding: 12px 16px;
  color: #fff;
}

/* Celdas */
::ng-deep td.mat-mdc-cell {
  padding: 12px 16px;
  transition: background 0.2s;
}

/* Filas con hover */
::ng-deep tr.mat-mdc-row:hover {
  background-color: #c0e6c0;
  cursor: pointer;
}

/* Separadores */
tr.mat-row:not(:last-child) td {
  border-bottom: 1px solid #e0e0e0;
}

.full-width {
  width: 100%;
}

.clickable-row {
  cursor: pointer;

  &:hover {
    background-color: #c0e6c0;
  }
}

table {
  border-collapse: separate;
}
